html {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    background-color: #6b5c51;
    color: white;
    font-family: 'Salsa', cursive;
}

.question2 {
    width: 60px;
}

#dipper {
    display: none;
}

#mabel {
    display: none;
}

#stan {
    display: none;
}

#bill {
    display: none;
}