html {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    background-color: #6b5c51;
    color: white;
    font-family: 'Salsa', cursive;
}
#coverimg{
width:300px;
}
.question2 {
    width: 60px;
}

#dipper {
    display: none;
    width: 150px;
}

#mabel {
    display: none;
    width: 150px;
}

#stan {
    display: none;
    width: 150px;
}

#bill {
    display: none;
    width: 150px;
}

#restartBtn {
    margin-top: 20px;
}